/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /*background: linear-gradient(45deg, #006699, #006699, #00CC99); 
  */
  background: #FFFFFF;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    
  
  }
}

.form {
  border: none; 
  max-width:100%; 
  max-height:100vh;
  width:640px; 
  height:480px;
  
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

